body
{
    background-color: blanchedalmond;
    color:black;  
    font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
 
  font-style: normal;

}
.header
{
    background-color: rgba(212, 6, 6, 0.986);
    color: #023e8a;
    text-align: center;
    padding: 3px;

}
.nav-bar-list
{
    background: #023e8a;
    justify-content: center;
  
    padding: 0px 0;
}
ul
{
    display: flex;
    list-style-type: none;
    padding: 2px;
    

}
img
{
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

li
{
    padding: 5px;
    color: white;
}

footer
{
    background-color: coral;
    padding: 8px;
    text-align: center;
}
